body{
  margin: 0;
    padding: 0;
    box-sizing: border-box;;
    scroll-behavior: smooth;
    font-family: "Poppins", sans-serif;
    
}
.section1{
  background:linear-gradient(#6597de,#fff);
  height: 100vh;
}
.section2{
  margin-top:100px;
  background:linear-gradient(#fff,#70b8a7);
}
.container {
  display: flex;
  justify-content: center;
}
.titel1{
  color: #4067cb;
  text-shadow: 10px 7px 8px #fff;
  
}
.titel2{
  color: #477a6e;
  text-shadow: 10px 7px 8px #a4d6ca;
  margin-top: 200px;
}
.container1{
  display: flex;
  justify-content: center;
  margin: 20px;
}
.container2{
  display: flex;
  justify-content: center;
  
}
.btn {
  display: flex;
  justify-content: space-evenly;
}
.btnn{
  background-color: #4067cb;
  color: #fff;
  padding: 10px 15px;
  border: none;
  text-transform: uppercase;
  margin-bottom: 20px;
  font-size: 20px;
  border-radius: 5px;
}
.btnn2{
  background-color: #477a6e;
  color: #fff;
  padding: 10px 15px;
  border: none;
  text-transform: uppercase;
  margin-bottom: 20px;
  font-size: 20px;
  border-radius: 5px;
}
.descrip{
  font-size: 19px;
  width: 900px;
  height: 173px;
}
